@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-image: url(../img/back.png);
}

/*
========================================
				TABLE
========================================
*/

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-image: url(../img/back.png);
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 10px;
	font-family: SourceSansProRegular;
}

th:first-child {
    border-left: 1px solid #CCC;  
}

th:last-child {
    border-right: 1px solid #CCC;  
}

td {
    padding: 10px;
    text-align: center;
}

tr:hover {
    background-image: url(../img/hover.png);
}

td:first-child {
    border-left: 1px solid #CCC;  
}

td:last-child {
    border-right: 1px solid #CCC;  
}


tr {
    border-bottom: 1px solid #CCC;
}

tr:nth-child(even) {
    background-color: #FFF;
}

tr:nth-child(odd) {
    background-color: #F9F9F9;
}

/*
========================================
				FONTS
========================================
*/

@font-face {
	font-family: SourceSansProLight;
	src: url('../font/SourceSansPro-Light.ttf');
}

@font-face {
	font-family: SourceSansProRegular;
	src: url('../font/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: Icons;
	src: url('../font/icons.ttf');
}

@font-face {
	font-family: Arvil;
	src: url('../font/Arvil_Sans.ttf');
}

/*
========================================
			KEYFRAMES
========================================
*/

@-webkit-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@-moz-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

/*
========================================
			MAIN
========================================
*/

.paper {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #CCC;
	box-shadow: 0px 1px 1px #AAA;
	background-color: #FFF;
}

.nums {
	background-image: url(../img/front.png);
	padding: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}

.stat, .titles {
	display: inline-block;
	width: 24%;
	text-align: center;
}

.stat {
	font-family:Arvil;
	font-size: 64px;
	color: #FFF;
	text-shadow: 1px 1px #333;
}

.names {
	padding: 10px;
	text-align: center;
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
}

.titles {
	font-family: SourceSansProLight;
	font-size: 16px;
}

.paper_wrap {
	padding: 25px;
	font-family: SourceSansProLight;
}

.content {
	margin-top: 25px;
}

/*
========================================
			BOX
========================================
*/

.box {
	display: none;
	opacity: 0;
}

.box:target {
	display: block;
	-webkit-animation: fade .5s linear;
	-moz-animation: fade .5s linear;
	animation: fade .5s linear;
	opacity: 1;
}

/*
========================================
			BUTTONS
========================================
*/

.ic, a.ic {
	color: #000;
	text-decoration: none;
	font-family: Icons;
	background-image: url(../img/back.png);
	display: inline-block;
	padding: 20px;
	border: 1px solid #CCC;
	-webkit-transition: background-image .5s ease;
	-moz-transition: background-image .5s ease;
	-o-transition: background-image .5s ease;
	-ms-transition: background-image .5s ease;
	transition: background-image .5s ease;
	position: relative;
}

.ic:hover {
	background-image: url(../img/hover.png);
}

.ic[title]:hover:before, .ic[title]:hover:after {
    display: block;
    position: absolute;
	white-space: nowrap;
	color: #FFF;
	font-family: SourceSansProLight;
	font-size: 12px;
}

.ic[title]:hover:before {
	padding: 6px;
	content: attr(title);
	min-width: 120px;
	text-align: center;
	width: auto;
	height: auto;
	top: -35px;
	background: rgba(0,0,0,.8);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;    
	left: 0;
}

.ic[title]:hover:after {
	content: "";
	border-color: rgba(0,0,0,.8) transparent transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	top: -8px;
}

.button_wrap {
	text-align: center;
}

/*
========================================
			FOOTER
========================================
*/

.footer {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
========================================
			ERROR PAGES
========================================
*/

.error {
	margin-top: 15%;
	text-align: center;
	font-family:Arvil;
	font-size: 64px;
	color: #333;
	text-shadow: 1px 1px #FFF;
}

.normaltxt {
	font-family: SourceSansProRegular;
	font-size: 32px;
}